In [1]:
# UPDATED - ONLY ONE TOPIC ASSIGNED TO EACH DOCUMENT
# creating a topic_pro_df and csv file containing a dataframe of 
#the topic proportions, tag and tag ID for each document
import gensim
from gensim import corpora
import sqlite3
import sys
import csv
import re
import itertools
import pandas as pd

In [2]:
model =  gensim.models.LdaModel.load('lda_model175')

In [3]:
# recreate the corpus
text_lemmas = []
con = sqlite3.connect('news.db')
cur = con.cursor()
for row in range(36162):
	cur.execute("SELECT Words FROM BBCnews WHERE ID = ?;", (row + 1,))
	rowText = cur.fetchone()[0]
	rowText = re.sub(r'\s', '', rowText).split(',')
	text_lemmas.append(rowText)
id2word = corpora.Dictionary(text_lemmas)
id2word.filter_extremes(no_below = 30)
id2word.filter_tokens(bad_ids=[id2word.token2id['v'], id2word.token2id['p'],id2word.token2id['x'], id2word.token2id['b'], id2word.token2id['c'], id2word.token2id['q'],id2word.token2id['e'], id2word.token2id['j'],id2word.token2id['r'], id2word.token2id['g'], id2word.token2id['l'], id2word.token2id['n'], id2word.token2id['f'], id2word.token2id['w'],id2word.token2id['h'], id2word.token2id['mp'], id2word.token2id['de'], id2word.token2id['ap'],id2word.token2id['el'], id2word.token2id['le'], id2word.token2id['1m'], 
                               id2word.token2id['9m'], id2word.token2id['ch'], id2word.token2id['ni'], id2word.token2id['du'], id2word.token2id['co'], id2word.token2id['id'],id2word.token2id['qc'],id2word.token2id['gp'], id2word.token2id['2m'],id2word.token2id['6m'],id2word.token2id['st'],id2word.token2id['jo'],id2word.token2id['lt'],id2word.token2id['fa'], id2word.token2id['fc'], id2word.token2id['en'], id2word.token2id['4m'],id2word.token2id['hm'],id2word.token2id['3m'],id2word.token2id['a9'],id2word.token2id['na'],
                               id2word.token2id['3d'],id2word.token2id['vw'],id2word.token2id['5m'],id2word.token2id['m4'],id2word.token2id['vi'],id2word.token2id['al'],id2word.token2id['ok'],id2word.token2id['8m'],id2word.token2id['be'],id2word.token2id['da'],id2word.token2id['li'],id2word.token2id['ft'],id2word.token2id['sq'], id2word.token2id['ii'], id2word.token2id['fr'], id2word.token2id['bt'],id2word.token2id['ad'],id2word.token2id['jr'],id2word.token2id['ed'],id2word.token2id['g7'],id2word.token2id['fm'],id2word.token2id['rt'],id2word.token2id['pr'],id2word.token2id['oh'],id2word.token2id['km'],id2word.token2id['jp'],id2word.token2id['hq'],id2word.token2id['ie'],id2word.token2id['xi'],id2word.token2id['7m'],id2word.token2id['ho'],id2word.token2id['m6'],id2word.token2id['ai'],id2word.token2id['m1'],id2word.token2id['bc'],id2word.token2id['a1'],
                               id2word.token2id['o2'],id2word.token2id['1p'],id2word.token2id['mr'], id2word.token2id['would'], id2word.token2id['also'], id2word.token2id['go'],id2word.token2id['tell'], id2word.token2id['year'],id2word.token2id['could'], id2word.token2id['get'],id2word.token2id['come'], id2word.token2id['make'], id2word.token2id['take'], id2word.token2id['give'], id2word.token2id['know'], id2word.token2id['like'],id2word.token2id['way'], id2word.token2id['ms'],
                              id2word.token2id['people'], id2word.token2id['think'], id2word.token2id['time'],id2word.token2id['use'], id2word.token2id['see'], id2word.token2id['many'],id2word.token2id['want'], id2word.token2id['look'],id2word.token2id['even'], id2word.token2id['much'], id2word.token2id['back'],id2word.token2id['really'], id2word.token2id['still'],id2word.token2id['tens'], id2word.token2id['hundreds'], id2word.token2id['thousands'], id2word.token2id['mrs'], id2word.token2id['raf'], id2word.token2id['gwent'],id2word.token2id['dr'], id2word.token2id['bp']])
id2word.compactify()
corpus = [id2word.doc2bow(text) for text in text_lemmas]

In [4]:
# create a list of the tags from the sqlite database
tags = []
con = sqlite3.connect('news.db')
cur = con.cursor()
cur.execute("SELECT Tag FROM BBCnews;")
for i in cur:
    tags.append((i[0]))

In [13]:
# creating a dataframe with weight, topic ID and tag for all documents
# loop through topics for each document, only adding the first topic ID and weight 
cols = ['Weight','Topic','Tag']
unitop4doc_df = pd.DataFrame(columns = cols)
for i in range(36162):
    topicID = 'T'+ str(model.get_document_topics(corpus[i])[0][0])
    unitop4doc_df = unitop4doc_df.append([{cols[0]:model.get_document_topics(corpus[i])[0][1], cols[1]:topicID, cols[2]:tags[i]}],ignore_index=True)

In [14]:
unitop4doc_df

         Weight Topic                Tag
0      0.035644   T11          Australia
1      0.020750   T13              Blogs
2      0.017634    T2           Scotland
3      0.139323    T0               Asia
4      0.027612   T14           Business
5      0.055039    T8          Berkshire
6      0.061329    T4         Birmingham
7      0.223957    T0               Kent
8      0.056124   T14     United Kingdom
9      0.099429    T3            Science
10     0.038083    T1             Sussex
11     0.017183   T11         Birmingham
12     0.086464    T0               Asia
13     0.247982   T14     United Kingdom
14     0.067831    T8          US/Canada
15     0.038466    T2          US/Canada
16     0.034739    T1             Europe
17     0.029825   T14      Entertainment
18     0.084167   T28      Entertainment
19     0.023863   T14          US/Canada
20     0.020653    T4         Manchester
21     0.137013   T34               Asia
22     0.129175    T0              Wales
23     0.029762    T8               Kent
24     0.023884   T17               Tyne
25     0.079934    T1            Science
26     0.075546    T1      Entertainment
27     0.013038    T2              Wales
28     0.066482    T3        Middle East
29     0.016227    T3           Business
...         ...   ...                ...
36132  0.042577    T1     United Kingdom
36133  0.063002    T8             Europe
36134  0.030752   T17     United Kingdom
36135  0.014635    T1               Asia
36136  0.077051   T14        Middle East
36137  0.020572    T0              Blogs
36138  0.029768    T8              Blogs
36139  0.041034   T17  Highlands Islands
36140  0.028185   T13            General
36141  0.053725    T3           Business
36142  0.189242    T0               Asia
36143  0.159288    T7             Health
36144  0.013546    T1              Wales
36145  0.039808    T1   South East Wales
36146  0.015451    T0           Business
36147  0.069280   T14            Science
36148  0.106999    T0               Asia
36149  0.230775    T0             Europe
36150  0.019187   T12              Blogs
36151  0.058170   T18           Scotland
36152  0.028110    T6  Highlands Islands
36153  0.029188    T1              Blogs
36154  0.111691   T17     United Kingdom
36155  0.028982    T5           Scotland
36156  0.022015    T6              Blogs
36157  0.149494    T7              Blogs
36158  0.069898    T2           Business
36159  0.101865   T24     United Kingdom
36160  0.119856    T7            Science
36161  0.034269   T19     United Kingdom

[36162 rows x 3 columns]

In [15]:
# save the dataframe as a csv file
unitop4doc_df.to_csv('unitop4doc_df.csv')

In [19]:
# updated list of uk cities for fusion table
uk_cities = ['Beds Bucks Herts', 'Bradford West Yorkshire', 'Cambridgeshire',
                   'Cornwall', 'Coventry Warwickshire', 'Cumbria', 'Derbyshire', 'Devon', 'Dorset', 'Essex', 'Gloucestershire', 
                   'Hampshire', 'Humber', 'Lancashire', 'Leeds', 'Leicestershire', 'Lincolnshire', 
                   'London', 'Manchester', 'Merseyside', 'Northamptonshire', 'Nottinghamshire', 'Oxfordshire', 
                   'Shropshire', 'South Yorkshire', 'Stoke Staffordshire', 'Surrey', 
                   'Tyne', 'Wiltshire', 'York North Yorkshire', 'Mid Wales', 'North East Wales', 'North West Wales', 'South East Wales', 'South West Wales', 
            'Edinburgh East Fife', 'Glasgow West', 'Highlands Islands', 'North East Orkney Shetland', 'Tayside Central']
uk_unitop4doc_df = pd.DataFrame(columns = cols)
uk_unitop4doc_df = unitop4doc_df[unitop4doc_df['Tag'].isin(uk_cities)]

In [20]:
# save the dataframe as a csv file
uk_unitop4doc_df.to_csv('uk_unitop4doc_df.csv')