In [2]:
## Updating the BBCnews table in the news.db with the Tags and Tag IDs
import sqlite3
import sys
import csv
import re

In [2]:
con = sqlite3.connect('news.db')
cur = con.cursor()
cur.execute("ALTER TABLE BBCnews ADD Tag TEXT;")
con.commit()
con.close()

In [8]:
#updating section names
con = sqlite3.connect('news.db')
cur = con.cursor()
cur.execute("UPDATE BBCnews SET Section = 'blogs_china' WHERE Section = 'blogs_china_blog';")
cur.execute("UPDATE BBCnews SET Section = 'business_general' WHERE Section = 'business';")
cur.execute("UPDATE BBCnews SET Section = 'election_general' WHERE Section = 'election_';")
cur.execute("UPDATE BBCnews SET Section = 'election_us' WHERE Section = 'election_us_';")
cur.execute("UPDATE BBCnews SET Section = 'uk_general' WHERE Section = 'uk';")
cur.execute("UPDATE BBCnews SET Section = 'world_general' WHERE Section = 'world';")
cur.execute("UPDATE BBCnews SET Section = 'election_england' WHERE Section = 'election__england';")
cur.execute("UPDATE BBCnews SET Section = 'election_london' WHERE Section = 'election__london';")
cur.execute("UPDATE BBCnews SET Section = 'election_northern_ireland' WHERE Section = 'election__northern_ireland';")
cur.execute("UPDATE BBCnews SET Section = 'election_scotland' WHERE Section = 'election__scotland';")
cur.execute("UPDATE BBCnews SET Section = 'election_wales' WHERE Section = 'election__wales';")
con.commit()
con.close()

('blogs_china',)
('blogs_eu',)
('blogs_magazine_monitor',)
('blogs_news_from_elsewhere',)
('blogs_ouch',)
('blogs_the_papers',)
('blogs_trending',)
('business_general',)
('business_your_money',)
('disability',)
('education',)
('election_england',)
('election_general',)
('election_london',)
('election_northern_ireland',)
('election_scotland',)
('election_us',)
('election_wales',)
('entertainment_arts',)
('explainers',)
('health',)
('in_pictures',)
('magazine',)
('science_environment',)
('technology',)
('the_reporters',)
('uk_england',)
('uk_england_beds_bucks_herts',)
('uk_england_berkshire',)
('uk_england_birmingham',)
('uk_england_bradford_west_yorkshire',)
('uk_england_bristol',)
('uk_england_cambridgeshire',)
('uk_england_cornwall',)
('uk_england_coventry_warwickshire',)
('uk_england_cumbria',)
('uk_england_derbyshire',)
('uk_england_devon',)
('uk_england_dorset',)
('uk_england_essex',)
('uk_england_gloucestershire',)
('uk_england_hampshire',)
('uk_england_hereford_worcester',)
('uk_england_humber',)
('uk_england_kent',)
('uk_england_lancashire',)
('uk_england_leeds',)
('uk_england_leicestershire',)
('uk_england_lincolnshire',)
('uk_england_london',)
('uk_england_manchester',)
('uk_england_merseyside',)
('uk_england_norfolk',)
('uk_england_northamptonshire',)
('uk_england_nottinghamshire',)
('uk_england_oxfordshire',)
('uk_england_shropshire',)
('uk_england_somerset',)
('uk_england_south_yorkshire',)
('uk_england_stoke_staffordshire',)
('uk_england_suffolk',)
('uk_england_surrey',)
('uk_england_sussex',)
('uk_england_tees',)
('uk_england_tyne',)
('uk_england_wiltshire',)
('uk_england_york_north_yorkshire',)
('uk_general',)
('uk_northern_ireland',)
('uk_northern_ireland_foyle_west',)
('uk_northern_ireland_politics',)
('uk_politics',)
('uk_politics_eu_referendum',)
('uk_politics_parliaments',)
('uk_scotland',)
('uk_scotland_edinburgh_east_fife',)
('uk_scotland_glasgow_west',)
('uk_scotland_highlands_islands',)
('uk_scotland_north_east_orkney_shetland',)
('uk_scotland_scotland_business',)
('uk_scotland_scotland_politics',)
('uk_scotland_south_scotland',)
('uk_scotland_tayside_central',)
('uk_wales',)
('uk_wales_mid_wales',)
('uk_wales_north_east_wales',)
('uk_wales_north_west_wales',)
('uk_wales_politics',)
('uk_wales_south_east_wales',)
('uk_wales_south_west_wales',)
('world_africa',)
('world_asia',)
('world_asia_china',)
('world_asia_india',)
('world_asia_pacific',)
('world_australia',)
('world_europe',)
('world_europe_guernsey',)
('world_europe_isle_of_man',)
('world_europe_jersey',)
('world_general',)
('world_latin_america',)
('world_middle_east',)
('world_radio_and_tv',)
('world_south_asia',)
('world_us_canada',)

In [9]:
#Adding Tags (General Topics)
con = sqlite3.connect('news.db')
cur = con.cursor()
cur.execute("UPDATE BBCNews SET Tag = 'Blogs' WHERE Section IN ('blogs_magazine_monitor', 'blogs_news_from_elsewhere','blogs_ouch','blogs_the_papers','blogs_trending','in_pictures','magazine','the_reporters','explainers');")
cur.execute("UPDATE BBCNews SET Tag = 'Business' WHERE Section IN ('business_general','business_your_money');")
cur.execute("UPDATE BBCNews SET Tag = 'Education' WHERE Section = 'education';")
cur.execute("UPDATE BBCNews SET Tag = 'Entertainment' WHERE Section IN ('entertainment_arts','world_radio_and_tv');")
cur.execute("UPDATE BBCNews SET Tag = 'Health' WHERE Section IN ('health','disability');")
cur.execute("UPDATE BBCNews SET Tag = 'Science' WHERE Section IN ('science_environment','technology');")
con.commit()
con.close()

In [11]:
#Adding Tags (World General)
con = sqlite3.connect('news.db')
cur = con.cursor()
cur.execute("UPDATE BBCNews SET Tag = 'United Kingdom' WHERE Section IN ('uk_general','uk_politics','uk_politics_eu_referendum','uk_politics_parliaments');")
cur.execute("UPDATE BBCNews SET Tag = 'Europe' WHERE Section IN ('world_europe','world_europe_guernsey','world_europe_isle_of_man','world_europe_jersey','blogs_eu');")
cur.execute("UPDATE BBCNews SET Tag = 'Africa' WHERE Section = 'world_africa';")
cur.execute("UPDATE BBCNews SET Tag = 'Asia' WHERE Section IN ('world_asia','blogs_china','world_asia_china','world_asia_india','world_asia_pacific','world_south_asia');")
cur.execute("UPDATE BBCNews SET Tag = 'Australia' WHERE Section = 'world_australia';")
cur.execute("UPDATE BBCNews SET Tag = 'Latin America' WHERE Section = 'world_latin_america';")
cur.execute("UPDATE BBCNews SET Tag = 'Middle East' WHERE Section = 'world_middle_east';")
cur.execute("UPDATE BBCNews SET Tag = 'US/Canada' WHERE Section IN ('world_us_canada','election_us');")
con.commit()
con.close()

In [12]:
#Adding Tags (UK General)
con = sqlite3.connect('news.db')
cur = con.cursor()
cur.execute("UPDATE BBCNews SET Tag = 'England' WHERE Section IN ('uk_england','election_england','election_london');")
cur.execute("UPDATE BBCNews SET Tag = 'Wales' WHERE Section IN ('uk_wales','uk_wales_politics','election_wales');")
cur.execute("UPDATE BBCNews SET Tag = 'Northern Ireland' WHERE Section IN ('uk_northern_ireland','uk_northern_ireland_politics','election_northern_ireland');")
cur.execute("UPDATE BBCNews SET Tag = 'Scotland' WHERE Section IN ('uk_scotland','uk_scotland_scotland_business','uk_scotland_scotland_politics','election_scotland');")
con.commit()
con.close()

In [49]:
topic_list = ['blogs_china', 'blogs_eu', 'blogs_magazine_monitor', 'blogs_news_from_elsewhere', 'blogs_ouch', 
              'blogs_the_papers', 'blogs_trending', 'business_general', 'business_your_money', 'disability', 
              'education', 'election_england', 'election_general', 'election_london', 'election_northern_ireland', 
              'election_scotland', 'election_us', 'election_wales', 'entertainment_arts', 'explainers', 'health', 
              'in_pictures', 'magazine', 'science_environment', 'technology', 'the_reporters', 'uk_england', 
              'uk_england_beds_bucks_herts', 'uk_england_berkshire', 'uk_england_birmingham', 'uk_england_bradford_west_yorkshire', 
              'uk_england_bristol', 'uk_england_cambridgeshire', 'uk_england_cornwall', 'uk_england_coventry_warwickshire', 
              'uk_england_cumbria', 'uk_england_derbyshire', 'uk_england_devon', 'uk_england_dorset', 'uk_england_essex', 
              'uk_england_gloucestershire', 'uk_england_hampshire', 'uk_england_hereford_worcester', 'uk_england_humber', 
              'uk_england_kent', 'uk_england_lancashire', 'uk_england_leeds', 'uk_england_leicestershire', 
              'uk_england_lincolnshire', 'uk_england_london', 'uk_england_manchester', 'uk_england_merseyside', 
              'uk_england_norfolk', 'uk_england_northamptonshire', 'uk_england_nottinghamshire', 'uk_england_oxfordshire', 
              'uk_england_shropshire', 'uk_england_somerset', 'uk_england_south_yorkshire', 'uk_england_stoke_staffordshire', 
              'uk_england_suffolk', 'uk_england_surrey', 'uk_england_sussex', 'uk_england_tees', 'uk_england_tyne', 
              'uk_england_wiltshire', 'uk_england_york_north_yorkshire', 'uk_general', 'uk_northern_ireland', 
              'uk_northern_ireland_foyle_west', 'uk_northern_ireland_politics', 'uk_politics', 'uk_politics_eu_referendum', 
              'uk_politics_parliaments', 'uk_scotland', 'uk_scotland_edinburgh_east_fife', 'uk_scotland_glasgow_west', 
              'uk_scotland_highlands_islands', 'uk_scotland_north_east_orkney_shetland', 'uk_scotland_scotland_business', 
              'uk_scotland_scotland_politics', 'uk_scotland_south_scotland', 'uk_scotland_tayside_central', 'uk_wales', 
              'uk_wales_mid_wales', 'uk_wales_north_east_wales', 'uk_wales_north_west_wales', 'uk_wales_politics', 
              'uk_wales_south_east_wales', 'uk_wales_south_west_wales', 'world_africa', 'world_asia', 'world_asia_china', 
              'world_asia_india', 'world_asia_pacific', 'world_australia', 'world_europe', 'world_europe_guernsey', 
              'world_europe_isle_of_man', 'world_europe_jersey', 'world_general', 'world_latin_america', 'world_middle_east', 
              'world_radio_and_tv', 'world_south_asia', 'world_us_canada']

In [47]:
england_topics = ['uk_england_beds_bucks_herts', 'uk_england_berkshire', 'uk_england_birmingham', 
              'uk_england_bradford_west_yorkshire', 'uk_england_bristol', 'uk_england_cambridgeshire', 
              'uk_england_cornwall', 'uk_england_coventry_warwickshire', 'uk_england_cumbria', 
              'uk_england_derbyshire', 'uk_england_devon', 'uk_england_dorset', 'uk_england_essex', 
              'uk_england_gloucestershire', 'uk_england_hampshire', 'uk_england_hereford_worcester', 
              'uk_england_humber', 'uk_england_kent', 'uk_england_lancashire', 'uk_england_leeds', 
              'uk_england_leicestershire', 'uk_england_lincolnshire', 'uk_england_london', 'uk_england_manchester', 
              'uk_england_merseyside', 'uk_england_norfolk', 'uk_england_northamptonshire', 
              'uk_england_nottinghamshire', 'uk_england_oxfordshire', 'uk_england_shropshire', 
              'uk_england_somerset', 'uk_england_south_yorkshire', 'uk_england_stoke_staffordshire', 
              'uk_england_suffolk', 'uk_england_surrey', 'uk_england_sussex', 'uk_england_tees',
              'uk_england_tyne', 'uk_england_wiltshire', 'uk_england_york_north_yorkshire']
england_revised = ['Beds Bucks Herts', 'Berkshire', 'Birmingham', 'Bradford West Yorkshire', 'Bristol', 'Cambridgeshire',
                   'Cornwall', 'Coventry Warwickshire', 'Cumbria', 'Derbyshire', 'Devon', 'Dorset', 'Essex', 'Gloucestershire', 
                   'Hampshire', 'Hereford Worcester', 'Humber', 'Kent', 'Lancashire', 'Leeds', 'Leicestershire', 'Lincolnshire', 
                   'London', 'Manchester', 'Merseyside', 'Norfolk', 'Northamptonshire', 'Nottinghamshire', 'Oxfordshire', 
                   'Shropshire', 'Somerset', 'South Yorkshire', 'Stoke Staffordshire', 'Suffolk', 'Surrey', 'Sussex', 'Tees', 
                   'Tyne', 'Wiltshire', 'York North Yorkshire']

In [46]:
#Adding Tags (England)
con = sqlite3.connect('news.db')
cur = con.cursor()
for x in range(40):
    cur.execute("UPDATE BBCNews SET Tag = ? WHERE Section = ?;", (england_revised[x],england_topics[x],))
con.commit()
con.close()

In [67]:
wales_topics = ['uk_wales_mid_wales', 'uk_wales_north_east_wales', 'uk_wales_north_west_wales', 'uk_wales_south_east_wales', 'uk_wales_south_west_wales']
wales_revised = ['Mid Wales', 'North East Wales', 'North West Wales', 'South East Wales', 'South West Wales']

In [69]:
#Adding Tags (Wales)
con = sqlite3.connect('news.db')
cur = con.cursor()
for x in range(5):
    cur.execute("UPDATE BBCNews SET Tag = ? WHERE Section = ?;", (wales_revised[x],wales_topics[x],))
con.commit()
con.close()

In [82]:
scotland_topics = ['uk_scotland_edinburgh_east_fife', 'uk_scotland_glasgow_west', 'uk_scotland_highlands_islands', 'uk_scotland_north_east_orkney_shetland', 'uk_scotland_south_scotland', 'uk_scotland_tayside_central']
scotland_revised = ['Edinburgh East Fife', 'Glasgow West', 'Highlands Islands', 'North East Orkney Shetland', 'South Scotland', 'Tayside Central']

In [85]:
#Adding Tags (Scotland/Ireland)
con = sqlite3.connect('news.db')
cur = con.cursor()
cur.execute("UPDATE BBCNews SET Tag = 'Foyle' WHERE Section = 'uk_northern_ireland_foyle_west';")
for x in range(6):
    cur.execute("UPDATE BBCNews SET Tag = ? WHERE Section = ?;", (scotland_revised[x],scotland_topics[x],))
con.commit()
con.close()

In [58]:
#Adding Tags (General)
con = sqlite3.connect('news.db')
cur = con.cursor()
cur.execute("UPDATE BBCNews SET Tag = 'General' WHERE Section IN ('world_general','election_general');")
con.commit()
con.close()

In [59]:
# create a list of the distinct tags
tags = []
con = sqlite3.connect('news.db')
cur = con.cursor()
cur.execute("SELECT DISTINCT Tag FROM BBCnews ORDER BY Tag Asc;")
for i in cur:
    tags.append((i[0]))

In [60]:
print(tags)

['Africa', 'Asia', 'Australia', 'Beds Bucks Herts', 'Berkshire', 'Birmingham', 'Blogs', 'Bradford West Yorkshire', 'Bristol', 'Business', 'Cambridgeshire', 'Cornwall', 'Coventry Warwickshire', 'Cumbria', 'Derbyshire', 'Devon', 'Dorset', 'Edinburgh East Fife', 'Education', 'England', 'Entertainment', 'Essex', 'Europe', 'Foyle', 'General', 'Glasgow West', 'Gloucestershire', 'Hampshire', 'Health', 'Hereford Worcester', 'Highlands Islands', 'Humber', 'Kent', 'Lancashire', 'Latin America', 'Leeds', 'Leicestershire', 'Lincolnshire', 'London', 'Manchester', 'Merseyside', 'Mid Wales', 'Middle East', 'Norfolk', 'North East Orkney Shetland', 'North East Wales', 'North West Wales', 'Northamptonshire', 'Northern Ireland', 'Nottinghamshire', 'Oxfordshire', 'Science', 'Scotland', 'Shropshire', 'Somerset', 'South East Wales', 'South Scotland', 'South West Wales', 'South Yorkshire', 'Stoke Staffordshire', 'Suffolk', 'Surrey', 'Sussex', 'Tayside Central', 'Tees', 'Tyne', 'US/Canada', 'United Kingdom', 'Wales', 'Wiltshire', 'York North Yorkshire']

In [61]:
# assign a tag ID to each tag
tags_dic = {}
index = 0
for value in tags:
    tags_dic[str(index)] = value
    index += 1

In [62]:
print(tags_dic)

{'0': 'Africa', '1': 'Asia', '2': 'Australia', '3': 'Beds Bucks Herts', '4': 'Berkshire', '5': 'Birmingham', '6': 'Blogs', '7': 'Bradford West Yorkshire', '8': 'Bristol', '9': 'Business', '10': 'Cambridgeshire', '11': 'Cornwall', '12': 'Coventry Warwickshire', '13': 'Cumbria', '14': 'Derbyshire', '15': 'Devon', '16': 'Dorset', '17': 'Edinburgh East Fife', '18': 'Education', '19': 'England', '20': 'Entertainment', '21': 'Essex', '22': 'Europe', '23': 'Foyle', '24': 'General', '25': 'Glasgow West', '26': 'Gloucestershire', '27': 'Hampshire', '28': 'Health', '29': 'Hereford Worcester', '30': 'Highlands Islands', '31': 'Humber', '32': 'Kent', '33': 'Lancashire', '34': 'Latin America', '35': 'Leeds', '36': 'Leicestershire', '37': 'Lincolnshire', '38': 'London', '39': 'Manchester', '40': 'Merseyside', '41': 'Mid Wales', '42': 'Middle East', '43': 'Norfolk', '44': 'North East Orkney Shetland', '45': 'North East Wales', '46': 'North West Wales', '47': 'Northamptonshire', '48': 'Northern Ireland', '49': 'Nottinghamshire', '50': 'Oxfordshire', '51': 'Science', '52': 'Scotland', '53': 'Shropshire', '54': 'Somerset', '55': 'South East Wales', '56': 'South Scotland', '57': 'South West Wales', '58': 'South Yorkshire', '59': 'Stoke Staffordshire', '60': 'Suffolk', '61': 'Surrey', '62': 'Sussex', '63': 'Tayside Central', '64': 'Tees', '65': 'Tyne', '66': 'US/Canada', '67': 'United Kingdom', '68': 'Wales', '69': 'Wiltshire', '70': 'York North Yorkshire'}

In [23]:
# add a column to the BBCnews table for the unique tag ID
con = sqlite3.connect('news.db')
cur = con.cursor()
cur.execute("ALTER TABLE BBCnews ADD TagID Text;")
con.commit()
con.close()

In [63]:
con = sqlite3.connect('news.db')
cur = con.cursor()
for i in range(1, 36163):
    cur.execute("SELECT Tag FROM BBCnews WHERE ID = ?;",(i,))
    tag = cur.fetchall()[0][0]
    for key, value in tags_dic.items():
        if tag == value:
            cur.execute("UPDATE BBCNews SET TagID = ? WHERE ID = ?;", (key, i,))
con.commit()
con.close()